.container {
   max-width: var(--container-width-max);
   min-width: var(--container-width-min);
   padding-inline: var(--container-padding-x);
}

.main {
   min-width: var(--site-width-min);
   margin-inline: auto;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-grow: 1;
   padding-bottom: 60px;
}