html {
   box-sizing: border-box;
   height: 100%;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

body {
   margin: 0;
   height: 100%;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

a:hover {
   opacity: .5;
}

ul,
ol {
   list-style: none;
   margin: 0;
   padding: 0;
}

.page {
   font-family: var(--font-family-base);
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: var(--site-width-max);
   min-width: var(--site-width-min);
   width: 100%;
   min-height: 100%;
   background-color: var(--color-main-purple);
   
}