html {
   box-sizing: border-box;
   height: 100%;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

body {
   margin: 0;
   height: 100%;
   width: 100%;
   box-sizing: inherit;
}

a {
   text-decoration: none;
   color: var(--color-text-base);
   transition: opacity 0.5s;
}

a:hover {
   opacity: .5;
}

button {
   transition: opacity 0.5s ease-out, transform 0.7s;
}

button:hover {
   opacity: .8;
   transform: scale(1.02);
}

ul,
ol {
   list-style: none;
   margin: 0;
   padding: 0;
}

.page {
   font-family: var(--font-family-base);
   display: flex;
   flex-direction: column;
   align-items: center;
   min-width: var(--site-width-min);
   width: 100%;
   min-height: 100%;
   background-color: var(--color-main-purple);
   color: var(--color-text-base);
}