:root {
   --color-main-purple: #7700D1;
   --color-dark-purple: #4C0085;
   --color-dark-purple-opacity: rgba(76, 0, 133, .97);
   --color-text-base: #fff;
   --color-btn-yellow: #FFD500;

   --font-family-base: 'GolosText', sans-serif;
   --font-family-accent: 'Russo One', sans-serif;
   --font-size-title: 46px;
   --font-size-title-mobile: 36px;
   --font-size-subtitle: 20px;

   --site-width-max: 1920px;
   --site-width-min: 360px;
   --container-width-max: 1515px;
   --container-width-min: 303px;
   --container-padding-x: 28px;
}
